.statistics {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
  width: 30%;
  max-width: 30%;
  background-color: white;
  margin-left: 24px;

  .calendar, .statistics-now, .statistics-history {
    height: 250px;
    margin: 0 24px 24px 0;
    background-color: #F3F3F3;
  }
}